<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="OpenWatersSvc.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <connectionStrings>
      <add name="OpenEnvironmentEntities" connectionString="metadata=res://*/App_Logic.DataAccessLayer.db_model.csdl|res://*/App_Logic.DataAccessLayer.db_model.ssdl|res://*/App_Logic.DataAccessLayer.db_model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\SQLEXPRESS;initial catalog=OpenEnvironment;uid=oe_login;pwd=R!j23@pLZ88$e;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    </connectionStrings>
  <applicationSettings>
        <OpenWatersSvc.Properties.Settings>
              <setting name="OpenWatersSvc_net_epacdxnode_test_NetworkNode2" serializeAs="String">
                    <value>https://test.epacdxnode.net:443/cdx-enws20/services/NetworkNode2ConditionalMtom</value>
              </setting>
        </OpenWatersSvc.Properties.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
