################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/OpenWatersSvc/OpenWatersSvc/bin/Release
/OpenWaters/packages
/OpenWatersSvc/OpenWatersSvc/obj/x86/Release
/OpenWaters/OpenWaters/obj
/OpenWaters/OpenWaters/Properties/PublishProfiles
/OpenWaters/.vs/config
