################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/OpenWatersSvc/OpenWatersSvc/bin/Release
/OpenWaters/packages
/OpenWatersSvc/OpenWatersSvc/obj/x86/Release
/OpenWaters/OpenWaters/obj
/OpenWaters/OpenWaters/Properties/PublishProfiles
/OpenWaters/.vs/config

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# User-specific files (MonoDevelop/Xamarin Studio)
*.userprefs

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/


