/* GENERAL
----------------------------------------------------------*/
html, body { width: 100%; height: 100%; margin: 0; padding: 0; }
body { background: #b6b7bc; font-size: .80em; font-family:Tahoma; color: #696969; margin: 0; padding: 0;} 
img { border-width:0; vertical-align:middle; text-align: center;}
img[alt='Skip Navigation Links'] { display: none;}   /* needed for Chrome compatibility  */
input[disabled="disabled"] { color: #666; }   /* needed for Chrome compatibility  */
select[disabled] {  background-color: #CCC; }
input[type=text]::-ms-clear { display: none; } /* IE10 to remove little'x' from the textbox */
input, select {box-sizing: border-box;}
p { margin-bottom: 6px; line-height: 1.6em; }
a:link, a:visited { color: #003300; }
a:hover { color: #003300; text-decoration: none;}
a:active { color: #006600; text-decoration: none;}
.Z { margin:0px; padding:0px; width:100%; }
.clear { clear: both; }
.failureNotification { font-size: 1.2em; color: Red; font-weight:bold }
.fldErrLg { color:#003d7e; font:12pt Tahoma; vertical-align:middle; margin:1px 0; padding:2px; background:#fdd repeat-x top; border:1px solid #f00; }
.fldErr { color:#003d7e; font:10pt Tahoma; vertical-align:middle; margin:1px 0; padding:2px; background:#fdd repeat-x top; border:1px solid #f00; }
.fldPass { color:#045c00; font:10pt Tahoma; vertical-align:middle; margin:1px 0; padding:2px; background:#baeeb8 repeat-x top; border:1px solid #045c00; }
.divHelp { border: 1px dashed #045c00; color:#045c00; margin: 8px 0px 8px 0px; padding: 8px 8px; font: 10pt Tahoma; background: #baeeb8; border-radius: 3px;}
.bold { font-weight: bold; }
.indent { clear:both; padding:2px 12px;}
.right { float: right; }
.left { float: left; }
.fullheight { height: 100%; }

/* MAPPING
----------------------------------------------------------*/
.mapSmall { margin: 0; padding: 0; height: 400px; width: 100%; position :relative;}
.mapBig { margin: 0; padding: 0; height: 100%; width: 100%; top : 0; left : 0; position : absolute !important;}
.mapInfoTitle { background-color:#cccccc; padding:2px; font-weight:bold !important; border-bottom: 1px solid #666666; color: #333333; }
.mapInfoMain { padding:3px; background-color:#f2f2f2; }
#over_map { position: absolute; background-color: #666666; padding:5px; top: 130px; left: 200px; font-weight:bold; color:White; z-index: 99; border-color:#333333; border-width:1px; border-style:solid; border-radius: 5px 5px / 5px 5px; font-size: 11pt; box-shadow: 3px 3px 3px #888888;  opacity: 0.6; filter: alpha(opacity=60); }
#over_map_full { position: absolute; background-color: #666666; padding:5px; top: 10px; left: 100px; font-weight:bold; color:White; z-index: 99; border-color:#333333; border-width:1px; border-style:solid; border-radius: 5px 5px / 5px 5px; font-size: 14pt; box-shadow: 3px 3px 3px #888888;  opacity: 0.6; filter: alpha(opacity=60); }

/* HEADINGS   
----------------------------------------------------------*/
h1, h2 { color: #666666; font-variant: small-caps; font-weight: 600; margin-bottom: 0px; margin-top: 6px; padding-bottom: 0px; }
h1 { font-size: 1.6em; }
h2 { font-size: 1.5em; }

/* PRIMARY LAYOUT ELEMENTS   
----------------------------------------------------------*/
.page { background-color: #fff; border-bottom: 1px solid #696969; min-height:600px; }
.header { position: relative; margin: 0px; padding: 0px; background: #4b6c9e; width: 100%;}
.footer { color: #4e5766; padding: 8px 0px 0px 0px; margin: 0px auto; text-align: center; line-height: normal;}

/* TOP TAB MENU   
----------------------------------------------------------*/
div.hideSkiplink { background-image: url('../App_Images/menubg.jpg'); width:100%; }
.menuitem { border-right-style: solid; border-right-width: 2px; border-right-color: #e2e2e2; }
a:link.menuitem, a:visited.menuitem { color: #e2e2e2;} 
.topLogin { text-align: right; padding: 0px; color: #e2e2e2;  }
.topLogin a { color: #33cc33;  }

/* BUTTONS   
----------------------------------------------------------*/
.btn { color: #fff; font:bold 8pt Tahoma; padding:4px; background-image:url(../App_Images/grd_head.png); 
       border-style:solid; border:1px solid #ccc; min-width:60px }
.btn:hover { color: #99ccff; }
.btn[disabled] { color:Gray; } /* needed for Chrome compatibility  */
.btnRibbon { border-radius:5px; clear:both; margin:3px 0; padding:4px 10px; background-color:#e9e9e9; border:1px dotted #7a97d2; min-height:24px; }
.btnRibbon:empty { display: none; }

/* FORM ELEMENTS (default from MS)   
----------------------------------------------------------*/
fieldset { margin: 1em 0px; padding: 1em; border: 1px solid #ccc; }
fieldset p  { margin: 2px 12px 10px 10px; }
fieldset.login label, fieldset.register label, fieldset.changePassword label { display: block; }
fieldset label.inline {display: inline;}
legend  { font-size: 1.1em; font-weight: 600; padding: 2px 4px 8px 4px; }
.row { clear: both; padding: 5px;}
.fldLbl { float: left; width:150px; height: 5px;}
.fldTxt { float: left; font-family:Tahoma; color: #404040; height: 22px; line-height:22px; }
.fldMultiTxt { float: left; font-family:Tahoma; color: #404040;  }
.fldTxt:focus { background-color: #ccff99;}
.smallnote {font-size: 11px; line-height: 1.5em; }

/* GRIDVIEW
----------------------------------------------------------*/
.grd { width: 100%; background-color: #fff; margin: 5px 0 10px 0; border: solid 1px #525252; border-collapse:collapse; clear:both; }
    .grd td { padding: 2px; border: solid 1px #c1c1c1; color: #696969; }
    .grd th { padding: 4px 2px; color: #fff; background: #424242 url(../App_Images/grd_head.png) repeat-x top; border-left: solid 1px #525252; font-size: 0.9em; }
    .grd th a { color: #fff;  }
.grd .alt { background: #fcfcfc url(../App_Images/grd_alt.png) repeat-x top; }
.grd .pgr {background: #424242 url(../App_Images/grd_pgr.png) repeat-x top; }
    .grd .pgr table { margin: 5px 0; }
    .grd .pgr td { border-width: 0; padding: 0 6px; border-left: solid 1px #666; font-weight: bold; color: #fff; line-height: 12px; }   
    .grd .pgr a { color: #666; text-decoration: none; }
    .grd .pgr a:hover { color: #000; text-decoration: none; }
.grdCtrl {color: #696969; font-size: 0.9em; }  


/* ROUNDED PANEL
----------------------------------------------------------*/
.brdr-green { border:1px solid #666666; border-radius: 31px 11px / 31px 11px; background-color:#dddddd; box-shadow: -3px 7px 3px #888888; margin-bottom: 10px; margin-left: 10px;}  /*outside line */
.ie9roundedgradient { display:inline-block; overflow:hidden; border-top-left-radius: 30px; border-top-right-radius: 10px; width:100% } /* needed for IE9 compatibility  */
.rndPnlTop-green
{
    color: #ffffff; border-top-left-radius: 30px; border-top-right-radius: 10px; padding: 4px; font-size: 12pt; font-weight: bold; text-align: center;
    background: #003300; /* Old browsers */
    background: -moz-linear-gradient(top, #58D68D 0%, #003300 30%, #003300 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#58D68D), color-stop(30%,#003300), color-stop(100%,#003300)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #58D68D 0%,#003300 30%,#003300 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #58D68D 0%,#003300 30%,#003300 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #58D68D 0%,#003300 30%,#003300 100%); /* IE10+ */
    background: linear-gradient(to bottom, #58D68D 0%,#003300 30%,#003300 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#58D68D', endColorstr='#003300',GradientType=0 ); /* IE6-9 */                                                         
}

/*  DATAGRID FILTER PANELS
----------------------------------------------------------*/
.fltBox { margin:0px auto; border:1px; border-style:solid; margin-top:5px; margin-bottom:5px; background-color:#e2e2e2; border-radius: 5px;  }
.fltTitle { background-color:#cccccc; padding:3px; font-weight:bold; border-top-left-radius: 5px; border-top-right-radius: 5px; border-bottom: 1px solid #666666; color: #333333; }
.fltMain { padding:3px; }

/*  LEFT MENUS
----------------------------------------------------------*/
.leftMnu { vertical-align: top; background-color: #efefef; margin:13px 8px 8px 8px; border:2px solid #dddddd; width:150px; }
.leftMnuTitle { font:bold; background-image:url(../App_Images/grd_head.png); color:#ffffff; padding:2px 8px; }
.leftMnuBody { border:1px solid #ffffff; background-color:#ffffff; } 
.leftMnuBody a { display:block; text-decoration: none; border:1px solid #ffffff; margin:2px; padding:4px; } 
.leftMnuBody a:hover { display:block; text-decoration: none; border:1px solid #009900; border-radius: 5px; background:#a6f7b0; } 
.leftMnuBody a.sel { display:block; text-decoration: none; border:1px solid #009900; border-radius: 5px; background:#a6f7b0; font-weight:bold; } 
.leftMnuBody a span {  padding: 3px 3px 3px 8px; display:block; } 

/*  MAIN CONTENT PANEL
----------------------------------------------------------*/
.mainPnl { vertical-align: top; padding: 0px 10px 10px 10px; min-height:400px; width: 98%;}

/* MODAL POPUP PANEL  
----------------------------------------------------------*/
.modalWindow { border: 1px solid #98B9DB; background:#f0f0f0; padding: 0px 0px 0px 0px; position:absolute; top:-1000px; }
.modalBackground { background-color:Gray; filter: alpha(opacity=70); opacity:0.7; }
.modalTitle { clear: both; background-color:#666666; padding: 3px 8px; font: bold 9pt Tahoma; color: #FFFFFF; margin: 3px 0 0 0;}

/* SECONDARY MODAL STYLE*/
.modalDialog { position: fixed; font-family: Arial, Helvetica, sans-serif; top: 0; right: 0; bottom: 0; left: 0; background: rgba(0, 0, 0, 0.9); z-index: 99999; opacity:1; 
               -webkit-transition: opacity 400ms ease-in; -moz-transition: opacity 400ms ease-in; transition: opacity 400ms ease-in; pointer-events: none; }
.modalDialog > div { width: 400px; position: relative; margin: 10% auto; padding: 5px 20px 13px 20px; border-radius: 10px; background: #fff;
                     background: -moz-linear-gradient(#fff, #999);
                     background: -webkit-linear-gradient(#fff, #999);
                     background: -o-linear-gradient(#fff, #999);   }

/* GETTING STARTED WIZARD
----------------------------------------------------------*/
#signup_steps{ margin:20px auto;width:663px; }
#signup_steps .ui-accordion-header{background:url(../App_Images/bg.png) no-repeat; }
#signup_steps h3 {  border: 0 none; height: 67px; position: relative; width: 700px; }
#signup_steps h3 .ui-icon-exp { background: url(../App_Images/wiz_1.png) no-repeat;  }
.signup_header_check { background: url(../App_Images/wiz_check.png); height: 45px; position: absolute; left: 610px; top: 10px; width: 45px;  }
.signup_header_cross { background: url(../App_Images/wiz_cross.png); height: 45px; position: absolute; left: 610px; top: 10px; width: 45px;  }
.signup_header_crossbw { background: url(../App_Images/wiz_cross_bw.png); height: 45px; position: absolute; left: 610px; top: 10px; width: 45px;  }
.signup_header_progress { background: url(../App_Images/wiz_progress.png); height: 45px; position: absolute; left: 610px; top: 10px; width: 45px;  }
.signup_tabs_header { color: #555; display: block; float: left; font-size: 18px; height: 7px; margin: 6px 0 0 0px; text-shadow: #fff 0 1px 0; padding:15px 0 0 50px; }
.signup_container { height: auto !important;  overflow: auto; padding-top: 13px; padding-bottom: 13px; display: block; }
.infoSlide { border: 1px solid #dcd5aa; color: #ac9f52; margin-left:20px !important; background-color: #fff; line-height: 1.6; width: 600px; }
.ui-accordion .ui-accordion-header { cursor: pointer; position: relative; margin-top: 1px; zoom: 1; }
.ui-accordion .ui-accordion-content { padding: 1em 2.2em; border-top: 0; margin-top: -2px; position: relative; top: 1px; margin-bottom: 2px; zoom: 1; }
.ui-corner-all { -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; }
.ui-corner-bottom { border-bottom-left-radius: 5px; border-bottom-right-radius: 5px; }
.ui-helper-reset { margin: 0; padding: 0; border: 0; outline: 0; line-height: 1.3; text-decoration: none; font-size: 100%; list-style: none; }
.ui-icon { font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; width: 29px; height: 29px;  display: block; text-indent: 9px; color:#fff; 
           font-size:18px; padding-top:2px; padding-bottom: 0px; float: left; margin: 18px 0 0 18px;  }



/* TABS
----------------------------------------------------------*/

.tabs-menu{ height: 30px; float: left; clear: both; list-style: none; padding-left: 0px; margin-bottom: 0px; }
.tabs-menu li { height: 30px; line-height:30px; float: left; margin-right: 10px; background-color: #ccc; border-top: 1px solid #d4d4d1; border-right: 1px solid #d4d4d1; border-left: 1px solid #d4d4d1;  }
.tabs-menu li.current { position: relative; background-color: #fff; border-bottom: 1px solid #fff; z-index: 5; }
.tabs-menu li a { padding: 10px; color: #fff; text-decoration: none; font-size: 11pt; font-weight: bold; }
.tabs-menu .current a { color: #227c14; }
.tab { border: 1px solid #d4d4d1; background-color: #fff; float: left; margin-bottom: 10px; width: auto; clear-both; min-height:165px; }
.tab-content { width: 880px; padding: 15px; display: none; }
#tab-1 {display: block; }