<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="OpenEnvironment.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="OpenEnvironmentEntities" connectionString="metadata=res://*/App_Logic.DataAccessLayer.db_model.csdl|res://*/App_Logic.DataAccessLayer.db_model.ssdl|res://*/App_Logic.DataAccessLayer.db_model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\SQLEXPRESS;initial catalog=OpenEnvironment;uid=oe_login;pwd=R!j23@pLZ88$e;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <system.web>
    <httpRuntime maxRequestLength="1048576" />
    <customErrors defaultRedirect="Error.aspx" mode="RemoteOnly" />
    <compilation debug="true" targetFramework="4.6.1">
      <assemblies>
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
      </assemblies>
    </compilation>
    <!-- Enables Forms Authentication -->
    <!-- (comment out if using remote IdentityServer) -->
    <authentication mode="Forms">
      <forms loginUrl="~/Default.aspx" timeout="2880" slidingExpiration="true" />
    </authentication>
    <!-- Sets class used for custom user authentication (comment out if using remote IdentityServer) -->
    <membership userIsOnlineTimeWindow="40" defaultProvider="CustMembershipProvider">
      <providers>
        <clear />
        <add name="CustMembershipProvider" type="OpenEnvironment.Account.CustMembershipProvider" />
      </providers>
    </membership>
    <!-- Sets class used for custom role management -->
    <profile>
      <providers>
        <clear />
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/" />
      </providers>
    </profile>
    <roleManager enabled="true" defaultProvider="OERoleProvider" cacheRolesInCookie="true">
      <providers>
        <clear />
        <add name="OERoleProvider" connectionStringName="OE" applicationName="OE" type="OpenEnvironment.Account.CustomRoleProvider" />
      </providers>
    </roleManager>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
      
    <controls>
        <add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit" />
      </controls></pages>
  </system.web>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="50000000" />
      </webServices>
    </scripting>
  </system.web.extensions>
  <location path="App_Pages/Secure">
    <system.web>
      <authorization>
        <deny users="?" />
      </authorization>
    </system.web>
  </location>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <validation validateIntegratedModeConfiguration="false" />
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="1073741824" />
      </requestFiltering>
    </security>
  </system.webServer>
  <!-- uncomment to send emails to local drive during debugging-->
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="SpecifiedPickupDirectory">
        <specifiedPickupDirectory pickupDirectoryLocation="C:\email\" />
      </smtp>
    </mailSettings>
  </system.net>
  <applicationSettings>
    <OpenEnvironment.Properties.Settings>
      <setting name="OpenEnvironment_net_epacdxnode_test_NetworkNode2" serializeAs="String">
        <value>https://test.epacdxnode.net:443/cdx-enws20/services/NetworkNode2</value>
      </setting>
    </OpenEnvironment.Properties.Settings>
  </applicationSettings>
  <appSettings>
    <!-- Set to true to integrate Emergency Hound with external OpenID provider (IdentityServer)-->
    <add key="UseIdentityServer" value="false" />
    <add key="IdentityServerAuthority" value="https://localhost:44362/" />
    <add key="IdentityServerRedirectURI" value="http://localhost:59412/" />
    <add key="IdentityServerPostLogoutURI" value="http://localhost:59412/signoutcallbackoidc" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.IdentityModel.Tokens.Jwt" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.20622.1351" newVersion="4.0.20622.1351" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>